{{!-- DASHBOARD PAGE --}}
<div class="d-flex justify-content-between my-4 flex-wrap col-12">
    <div class="col-12 col-md-5 mb-4">
        <h2>Create New Post:</h2>

        <article class="new-post card mt-4 shadow">
            <div class="card-body">
                <div class="card-text">
                    <form class="new-post-form">
                        <div class="form-group mb-2">
                            <label for="post-title">Title:</label>
                            <input type="text" name="post-title" id="post-title" class="form-control col-12"/>
                        </div>
                        <div class="form-group">
                            <label for="post-body">Content:</label>
                            <textarea name="post-body" class="form-control mb-2" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary col-12">
                            <i class="bi bi-pencil-square"></i> POST
                        </button>
                    </form>
                </div>
        </article>

    </div>

    {{!-- RENDER POSTS BY LOGGED IN USER --}}
    <section class="user-posts col-12 col-md-6 mx-2">
        <h2>Post History:</h2>
    {{#if posts.length}}
            <ul class="px-1">
                {{#each posts as |post|}}
                <div class="d-flex col-12 row my-2">
                    <li class="list-group-item">
                        {{> post-info post }}
                    <div class="d-flex flex-row justify-content-around">
                        <a href="/dashboard/edit/{{post.id}}" class="btn btn-primary col-4 shadow">
                        <i class="bi bi-pencil"></i> EDIT
                        </a>
                    </div>
                    </li>
                </div>
                {{/each}}
            </ul>
    {{else}}
        <div class="card my-4 shadow text-center">
            <p class="card-text my-4"><em>You have no posts yet! Use the form to create one.</em></p>
        </div>
    {{/if}}

    </section>
</div>

{{!-- script for new post creation logic --}}
<script src="/javascript/add-post.js"></script>