{{!-- LOGIN / SIGN-UP PAGE --}}
<div class="text-center mt-4 pt-2">
    <p><em>Welcome back!</em> </p>
</div>
<div class="d-flex justify-content-center mb-4 col-12">
    <form class="login-form my-4 mx-2 col-12 col-md-6">
        <div class="form-outline mb-3">
            <label for="email-login" class="form-label">Email:</label>
            <input type="email" id="email-login" class="form-control"/>
        </div>
        <div class="form-outline mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password-login" class="form-control" autocomplete="off"/>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
        </div>
    </form>
</div>

<div class="text-center">
    <p><em>Not a member? Register below:</em> </p>
</div>
<div class="d-flex justify-content-center col-12">
    <form class="signup-form mt-2 mx-2 col-12 col-md-6">
        <div class="form-outline mb-3">
            <label for="username-signup" class="form-label">Username:</label>
            <input type="text" id="username-signup" class="form-control"/>
        </div>
        <div class="form-outline mb-3">
            <label for="email-signup" class="form-label">Email:</label>
            <input type="email" id="email-signup" class="form-control"/>
        </div>
        <div class="form-outline mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password-signup" class="form-control" autocomplete="off"/>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block">SIGN-UP</button>
        </div>
    </form>
</div>

{{!-- script tag for login logic located in public/javascript --}}
<script src="/javascript/login.js"></script>