{{!-- SINGLE POST PAGE --}}
{{> post-info post }}

{{#if loggedIn}}
<div class="d-flex justify-content-center my-4 col-12">
    <form class="comment-form col-12 col-md-8">
        <div class="form-group">
            <textarea name="comment-body" class="form-control mb-2" rows="2"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="bi bi-pencil-square"></i> ADD COMMENT
            </button>
        </div>
    </form>
</div>
{{else}}
<div class="d-flex justify-content-center my-4">
    <div class="card text-center px-2 py-2 shadow">
        <p class="card-title"><em>Commenting disabled for non-registered users. <br>
        Please login or sign-up.</em></p>
        <div class="card-text">
            <a href="/login" class="btn btn-primary">LOGIN / SIGNUP</a>
        </div>
    </div>
</div>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}